
.tooltiptext{
    position: absolute;
    left: 50%;
    top: -30px;
    padding: 5px;
    background-color: red;
    color: white;
    border-radius: 5px;
    transform: translateX(-50%);
    white-space: nowrap;
}
.tooltip{
    position: relative;
    width: fit-content;
    cursor: pointer;
    margin: 40px 0;
}
